{% extends "layout.html" %}
{% block content %}
    <div class="w-100 d-flex flex-column float-right">
        <h3 class="p-2 d-flex justify-content-end" style="font-weight: bold;">{{username}} שלום</h3>
        <div class="p-2 d-flex justify-content-end">
            <h3 style="font-weight: bold;">יש לבחור את הפעולה הרצויה</h3>
        </div>
        <div class="row justify-content-end text-right">
            <div class="col-sm-2">
                <a href="{{ url_for('master_validate_users') }}">
                    <h4>אישור משתמשים חדשים</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/schedule_cases_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('search_cases') }}">
                    <img src="{{url_for('static',filename = 'Web_models/case_lookup.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('calendar') }}">
                    <img src="{{url_for('static',filename = 'Web_models/schedule.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('home') }}">
                    <h4>ניתוח נתונים</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/changes_for_schedule_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('master_change_weights') }}">
                    <h4>שינוי משקלות</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/changes_for_schedule_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
        </div>
    </div>
{% endblock content %}