{% extends "layout.html" %}
{% block content %}
    <link href='fullcalendar/main.css' rel='stylesheet'/>
    <script src='fullcalendar/main.js'></script>
    <script src='fullcalendar/core/locales/he.js'></script>

    <div class="d-flex">
        <div id="judge_calendar" class="col-md-11"></div>
        <div class="col-md-3">
            <h2 class="form-group text-right" style="font-weight: bold;"> חופשות </h2>
              <ul class="list-group">
                  <form>
                      <h3 class="form-group text-right" style="font-weight: bold;">בחירת דיין</h3>
                      <select onchange="renderCalendar(judges_options.value)" class="form-group text-right" id="judges_options">
                          <option value="All">הכל</option>
                      </select>
                  </form>
                  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
                  <script>
                    "use strict";
                    var judges_options = $('select#judges_options');

                    {% for judge in judges %}
                        judges_options.append($('<option value={{judge["id"]}}>{{judge['name']}}</option>'));
                    {% endfor %}
                  </script>

              </ul>
          </div>
    </div>
    <script>
        const renderCalendar = async (judgeId) => {
            if (judgeId == undefined | judgeId == "All") {
                judgeIdToUse = 'none'
                }
            else{
                judgeIdToUse = judgeId
            }
            let result = await fetch(`/${judgeIdToUse}/get_all_judge_events`)
            let body = await result.json();
            let eventsForCal = [];
            for (let event of body){
                let currentPush ={title: event.title,
                            start: Date.parse(event.start),
                            end: Date.parse(event.end),
                            backgroundColor: event.color,
                            id: event.id}
                eventsForCal.push(currentPush)

                        }
            console.log(body);
            let calendarEl = document.getElementById('judge_calendar');
            let judge_calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'he',
                    initialView: 'dayGridMonth',
                    selectable: true,
                    direction: 'rtl',
                    events: eventsForCal,
                    eventClick: function (info) {
                        var eventObj = info.event;
                        if (eventObj.backgroundColor == '#DC143C') {
                            let isVerified = confirm("חופשה מאושרת?")
                            if (isVerified) {
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", `/verification_of_vacations/${eventObj.id}`, true);
                                xhr.send();
                            }
                            }
                        }
            });
            judge_calendar.render();


        }
    </script>
    <script>
        renderCalendar();
    </script>

{% endblock content %}



            {#timeZone: 'UTC',#}
{#            initialView: 'dayGridMonth', dayGridWeek', 'timeGridDay', 'listWeek#}
            {#height: '100%',#}
            {#events: 'https://fullcalendar.io/api/demo-feeds/events.json'#}
            {#events: [#}
            {#    {#}
            {#        title:#}
            {#        start:#}
            {#        end:#}
            {#    }#}
            {#]#}