{% extends "layout.html" %}
{% block content %}
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>
    <script src='fullcalendar/core/locales/he.js'></script>



    <div class="d-flex">
        <div id="judge_calendar" class="col-md-11"></div>
        <div class="col-md-3">
            <h2 class="form-group text-right" style="font-weight: bold;"> חופשות </h2>
              <ul class="list-group">

                  <button onclick="{ judge_calendar.changeView('dayGridMonth') }" class="btn btn-outline-info">חודשי</button>
                  <button onclick="{ judge_calendar.changeView('dayGridWeek') }" class="btn btn-outline-info">שבועי</button>
                  <button onclick="{ judge_calendar.changeView('timeGridDay') }" class="btn btn-outline-info">יומי</button>
                  <br>
                  <br>
                  <br>
                  <br>
                  <form>
                      <h3 class="form-group text-right" style="font-weight: bold;">בחירת דיין</h3>
                      <select class="form-group text-right" id="judges_options">
                          <option></option>
                      </select>
                  </form>
                  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
                  <script>
                    "use strict";

                    var judges = {{ judges|tojson }};

                    var form = $('form');
                    var judges_options = $('select#judges_options');

                    for ([key, val] of judges) {
                        judges_options.append($('<option/>', {'value': key.id, 'text': key.name}));
                    }

                  </script>



              </ul>
          </div>
    </div>
    <script>
        let calendarEl = document.getElementById('judge_calendar');
        let judge_calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'he',
            initialView: 'dayGridMonth',
            selectable: true,
            direction: 'rtl',
            events : [
                {% for event in events %}
                    {
                        title : "{{event['title']}}",
                        start : "{{event['start']}}",
                        end : "{{event['end']}}",
                        backgroundColor: "{{event['color']}}"

                    },
                {% endfor %}
            ],
            select: function(info) {
                // console.log(["Selected Date : " + info.startStr + ' to ' + info.endStr]);
                // alert('selected ' + info.startStr + ' to ' + info.endStr);
                var div = document.getElementById('start_date_value');
                div.value = info.startStr
                var div = document.getElementById('end_date_value');
                div.value = info.endStr
            }
            });
        judge_calendar.render();



    </script>

{% endblock content %}



            {#timeZone: 'UTC',#}
{#            initialView: 'dayGridMonth', dayGridWeek', 'timeGridDay', 'listWeek#}
            {#height: '100%',#}
            {#events: 'https://fullcalendar.io/api/demo-feeds/events.json'#}
            {#events: [#}
            {#    {#}
            {#        title:#}
            {#        start:#}
            {#        end:#}
            {#    }#}
            {#]#}