{% extends "layout.html" %}
{% block content %}
    <div class="w-100 d-flex flex-column float-right">
        <h3 class="p-2 d-flex justify-content-end" style="font-weight: bold;">{{username}} שלום</h3>
        <div class="p-2 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/choose_your_option.jpeg')}}" width="300" height="100">
        </div>
        <div class="row justify-content-end text-right">
            <div class="col-sm-2">
                <a href="{{ url_for('master_validate_users') }}">
                    <img src="{{url_for('static',filename = 'Web_models/verify_new_users.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('search_cases') }}">
                    <img src="{{url_for('static',filename = 'Web_models/case_lookup.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('calendar') }}">
                    <img src="{{url_for('static',filename = 'Web_models/schedule.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('home') }}">
                    <img src="{{url_for('static',filename = 'Web_models/data_analysis.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('master_change_weights') }}">
                    <img src="{{url_for('static',filename = 'Web_models/weight_change.jpeg')}}" width="200" height="200">
                </a>
            </div>
        </div>
    </div>
{% endblock content %}