{% extends "layout.html" %}
{% block content %}
    <div class="text-right">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h2 class="border-bottom"> חיפוש עורך דין </h2>
                <div class="form-group">
                    {{ form.lawyer_name.label(class="form-control-label") }}
                    {{ form.lawyer_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.lawyer_last_name.label(class="form-control-label") }}
                    {{ form.lawyer_last_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.lawyer_id.label(class="form-control-label") }}
                    {{ form.lawyer_id(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.lawyer_mail.label(class="form-control-label") }}
                    {{ form.lawyer_mail(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.lawyer_phone.label(class="form-control-label") }}
                    {{ form.lawyer_phone(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
