{% extends "layout.html" %}
{% block content %}
<!--        form-->
    <form method="POST" action="" enctype="multipart/form-data" class="row d-flex justify-content-end">
        <!--        Secretary tag-->
        <div class="col-xs-12 col-md-8 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/secretary.jpeg')}}" width="180" height="70">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-md-8 d-flex justify-content-end">
            <h3 style="font-weight: bold;">עדכון מידע והעלאת קבצים</h3>
        </div>
        <br>
        <br>
        <br>
        {{ form.hidden_tag() }}
        <fieldset class="form-group col-xs-12 col-md-8">
            <div class="text-right row" style="background-color: {{ colors['mishmoret'] }};border-radius: 10px">
                <small class="col">עודכן לאחרונה ב {{ dates['mishmoret'] }}</small>
                <h4 class="col">העלאת לו״ז בית הדין למשמורת</h4>
                {{ form.mishmoret_file(class="form-control-file") }}
            </div>
            <br>
            <div class="text-right row" style="background-color: {{ colors['rotations'] }};border-radius: 10px">
                <small class="col">עודכן לאחרונה ב {{ dates['rotations'] }}</small>
                <h4 class="col">העלאת שיבוץ דיינים לשבוע תורנות</h4>
                {{ form.rotation_file(class="form-control-file") }}
            </div>
            <br>
            <div class="text-right row" style="background-color: {{ colors['holidays'] }};border-radius: 10px">
                <small class="col">עודכן לאחרונה ב {{ dates['holidays'] }}</small>
                <h4 class="col">העלאת חגים ומועדי ישראל</h4>
                {{ form.holidays_file(class="form-control-file") }}
            </div>
            <br>
            <div class="text-right row" style="background-color: {{ colors['cases'] }};border-radius: 10px">
                <small class="col">עודכן לאחרונה ב {{ dates['cases'] }}</small>
                <h4 class="col">העלאת תיקים חדשים שנפתחו במערכת</h4>
                {{ form.new_cases_file(class="form-control-file") }}
            </div>
            <br>
            <!--        disclaimer-->
            <div class="p-2 d-flex justify-content-end", style="background-color: #FA8072;border-radius: 10px">
                <h5 style="font-weight: bold;">במידה ויש שינויים, נא להעלות את הקובץ מחדש</h5>
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>

{% endblock content %}
