{% extends "layout.html" %}
{% block content %}
    <div class="w-100 d-flex flex-column float-right">
        <div class="p-2 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/secretary.jpeg')}}" width="180" height="70">
        </div>
        <div class="p-2 d-flex justify-content-end">
            <h3 style="font-weight: bold;">יש לבחור את הפעולה הרצויה</h3>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-2">
                <a href="{{ url_for('secretary_upload_files_and_split_cases') }}">
                    <h4>עדכון מידע</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/schedule_cases_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('search_cases') }}">
                    <h4>חיפוש תיקים</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/push_back_case_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('calendar') }}">
                    <h4>לו״ז</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/schedule_chores_other_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('calendar') }}">
                    <h4>כרטיסי עורכי דין</h4>
<!--                    <img src="{{url_for('static',filename = 'Web_models/changes_for_schedule_big.jpeg')}}" width="200" height="200">-->
                </a>
            </div>
        </div>
    </div>
{% endblock content %}