{% extends "layout.html" %}
{% block content %}
    <div class="w-100 d-flex flex-column float-right">
        <div class="p-2 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/secretary.jpeg')}}" width="180" height="70">
        </div>
        <div class="p-2 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/choose_your_option.jpeg')}}" width="300" height="100">
        </div>
        <div class="row justify-content-end text-right">
            <div class="col-sm-2">
                <a href="{{ url_for('secretary_upload_files_and_split_cases') }}">
                    <img src="{{url_for('static',filename = 'Web_models/data_update.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('search_cases') }}">
                    <img src="{{url_for('static',filename = 'Web_models/case_lookup.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('calendar') }}">
                    <img src="{{url_for('static',filename = 'Web_models/schedule.jpeg')}}" width="200" height="200">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{{ url_for('secretary_lawyer_search') }}">
                    <img src="{{url_for('static',filename = 'Web_models/lawyer_lookup.jpeg')}}" width="200" height="200">
                </a>
            </div>
<!--            <div class="col-sm-2">-->
<!--                <a href="{{ url_for('google_api_test') }}">-->
<!--                    summon test!-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
{% endblock content %}