{% extends "layout.html" %}
{% block content %}
    <img src="{{url_for('static',filename = 'Web_models/case_search_title.jpeg')}}" width="240" height="100">
    <br>
    <h2 class="text-right"> נמצאו {{ cases_found_num }} תיקים</h2>
    {% for lawyer in lawyers %}
        <article class="text-right media content-section">
            <div class="media-body">
                <h2>{{ lawyer['orer_id'] }} :ערר</h2>
                <h2>{{ lawyer['lawyer_1_id'] }} :שם עורך דין</h2>
                <h2>{{ lawyer['lawyer_2_id'] }} :שם עורך דין</h2>
                <h2>{{ lawyer['case_id'] }} :מספר תיק</h2>
                <h2>קטגוריה ראשית: {{ lawyer['first_type'] }} </h2>
                <h2>קטגוריה משנית: {{ lawyer['second_type'] }} </h2>
                <h2>{{ lawyer['location'] }} :תראיך דיון, שעה, מיקום</h2>
            </div>
        </article>
    {% endfor %}

{% endblock content %}