{% extends "layout.html" %}
{% block content %}
    <div class="p-2 d-flex justify-content-end">
        <img src="{{url_for('static',filename = 'Web_models/case_search_title.jpeg')}}" width="240" height="100">
    </div>
    <br>
    <h2 class="text-right"> נמצאו {{ cases_found_num }} תיקים</h2>
    {% for case in cases %}
        <article class="text-right media content-section">
            <div class="media-body">
                <h2>{{ case['case_id'] }} :מספר תיק</h2>
                <h2>{{ case['lawyer_1_id'] }} :שם עורך דין</h2>
                <h2>{{ case['lawyer_2_id'] }} :שם עורך דין</h2>
                <h2>קטגוריה ראשית: {{ case['first_type'] }} </h2>
                <h2>קטגוריה משנית: {{ case['second_type'] }} </h2>
                <h2>{{ case['location'] }} :תראיך דיון, שעה, מיקום</h2>
            </div>
        </article>
    {% endfor %}

{% endblock content %}