{% extends "layout.html" %}
{% block content %}

    <div class="content-section w-75 d-flex flex-column float-right">
<!--        Secretary tag-->
        <div class="p-2 d-flex justify-content-end">
            <img src="{{url_for('static',filename = 'Web_models/secretary.jpeg')}}" width="180" height="70">
        </div>
<!--        title of specific upload-->
        <div class="p-2 d-flex justify-content-end">
            <h3 style="font-weight: bold;">{{ title }}</h3>
        </div>
<!--        form-->
        <form method="POST" action="" enctype="multipart/form-data" class="d-flex justify-content-end">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ form.csv_file(class="form-control-file") }}
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
<!--        disclaimer-->
        <div class="p-2 d-flex justify-content-end">
            <h5 style="font-weight: bold;">במידה ויש שינויים באילוצים, נא להעלות את הקובץ מחדש</h5>
        </div>
    </div>
{% endblock content %}