{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    <h2>{{ form.csv_file.label() }}</h2>
                    {{ form.csv_file(class="form-control-file") }}
                    {% if form.csv_file.errors %}
                        {% for error in form.csv_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
